Repository uc-cdis/data-portal, pull requests merged in 2021-01, with the labels that each got.

#776 (PXP-6184): refactor/nodeCountTitle: make nodeCountTitle field optional
  docs/multi_tab_explorer.md
  docs/portal_config.md
  src/GuppyDataExplorer/ExplorerFilter/index.jsx
  src/GuppyDataExplorer/ExplorerTopMessageBanner/index.jsx
  src/GuppyDataExplorer/ExplorerVisualization/index.jsx
  src/GuppyDataExplorer/GuppyDataExplorer.jsx
  src/GuppyDataExplorer/utils.js
  src/GuppyDataExplorer/utils.test.js
Labels: test-portal-dataUploadTest

#779 (PXP-6032):fix/table-column-sorting: keep track if sorting is done and sort after field mapping if it has not already been done
  src/GuppyDataExplorer/ExplorerTable/index.jsx
  src/GuppyDataExplorer/ExplorerVisualization/index.jsx
  src/GuppyDataExplorer/configTypeDef.js
Labels: test-portal-dataUploadTest

#775 (PXP-6221):refactor/comma-numbers: refactored numberWithCommas function
  package-lock.json
  package.json
  src/Covid19Dashboard/ControlPanel/LegendPanel/index.jsx
  src/Covid19Dashboard/CountWidget/index.jsx
  src/Covid19Dashboard/IllinoisMapChart/index.jsx
  src/Covid19Dashboard/PlotChart/index.jsx
  src/Covid19Dashboard/WorldMapChart/index.jsx
  src/Covid19Dashboard/dataUtils.js
  src/Covid19Dashboard/index.jsx
  src/GuppyDataExplorer/ExplorerTable/index.jsx
Labels: test-apis-dataUploadTest

#782 Fix PRC charts displaying undefined
  src/Covid19Dashboard/IllinoisMapChart/index.jsx
  src/Covid19Dashboard/WorldMapChart/index.jsx
Labels: test-portal-homepageTest

#784 PXP-7378 Feat/full pie
  docs/portal_config.md
  package-lock.json
  package.json
  src/GuppyDataExplorer/ExplorerVisualization/index.jsx
Labels: test-portal-dataUploadTest, test-portal-homepageTest

#789 fix bold font
  dev.html
  src/index.ejs
Labels: test-portal-homepageTest

#786 feat(il): add il tab
  src/Covid19Dashboard/index.jsx
  src/localconf.js
Labels: test-portal-dataUploadTest

#794 fix: remove kfdcfinterop
  data/config/kfDcfInterop.json
  testSchema.sh
Labels: test-portal-dataUploadTest, test-portal-homepageTest
