Repository uc-cdis/data-portal, pull requests merged in 2021-08, with the labels that each got.

#910 Core metadata / download page: remove value if empty
  src/CoreMetadata/CoreMetadataHeader.jsx
Labels: test-portal-coremetadatapageTest

#911 (PXP-8275): Feat/hpwebform
  .eslintrc.js
  .travis.yml
  src/Index/nctPage.jsx
  src/Index/nctPage.less
Labels: test-portal-studyViewerTest, jenkins-dcp

#918 Chore/discovery for more bundles
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/nctIndex.jsx
  webpack.config.js
Labels: test-portal-studyViewerTest
