Repository uc-cdis/data-portal, pull requests merged in 2022-08, with the labels that each got.

#1040 HP-831 Fix active tab
  src/Discovery/DiscoveryDetails.tsx
  webpack.config.js
Labels: test-apis-etlTest

#1041 HP-820 add tooltip to columns
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryListView.tsx
Labels: test-portal-coremetadatapageTest

#1043 (HP-828) chore: add disclaimer to registration
  docs/portal_config.md
  src/StudyRegistration/StudyRegistration.css
  src/StudyRegistration/StudyRegistrationRequestForm.tsx
  src/localconf.js
Labels: test-apis-dataUploadTest

#1065 (PXP-10263): feat/nctHPlink: add text box callout to nct home page right column
  src/Index/nctPage.jsx
  src/Index/nctPage.less
Labels: test-portal-dataUploadTest, test-pidgin-getCoremetadataTest
