Repository uc-cdis/data-portal, pull requests merged in 2022-02, with the labels that each got.

#970 (PXP-9378): NCT: Update the HHS link
  src/components/layout/FooterNIAID.jsx
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-studyViewerTest

#971 Fix PRC chart tooltips and Study viewer API call
  src/Covid19Dashboard/index.jsx
  src/StudyViewer/reduxer.js
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-studyViewerTest, test-apis-requestorTest

#968 Chore/dep patch
  .babelrc
  .eslintrc.js
  .gitignore
  .storybook/webpack.config.js
  .travis.yml
  Dockerfile
  package-lock.json
  package.json
  runWebpack.sh
  src/Analysis/GWASUIApp/GWASUIApp.jsx
  src/Covid19Dashboard/standalone/.babelrc
  src/Covid19Dashboard/standalone/package.json
  src/Discovery/Discovery.css
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
  src/components/layout/FooterNIAID.jsx
  webpack.config.js
Labels: test-portal-studyViewerTest
