Repository uc-cdis/data-portal, pull requests merged in 2022-06, with the labels that each got.

#1003 Fix to run qa.planx-pla.net
  runWebpack.sh
Labels: test-portal-homepageTest, skip-quay-build

#1001 Feat/external footer
  docs/portal_config.md
  src/Discovery/DiscoveryActionBar.tsx
  src/Layout/reduxer.js
  src/components/layout/ExternalFooter.tsx
  src/components/layout/Footer.jsx
Labels: test-portal-studyViewerTest, skip-quay-build

#1016 HP-791 add repo name to rum actions
  src/Discovery/DiscoveryActionBar.tsx
Labels: test-portal-studyViewerTest, skip-quay-build

#1020 Added Citations for Google Mobility Data
  src/Covid19Dashboard/ControlPanel/index.jsx
  src/Covid19Dashboard/IllinoisMapChart/index.jsx
Labels: test-portal-homepageTest

#1021 refactor/updateLintFixErrors: update ES lint fix lint warnings
  .eslintrc.js
  package-lock.json
  package.json
  src/Analysis/GWASUIApp/GWASUIApp.jsx
  src/StudyViewer/reduxer.js
  src/actions.js
  src/cohortMiddleware.js
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/index.jsx
  src/localconf.js
  src/nctIndex.jsx
  src/workspaceIndex.jsx
Labels: test-portal-studyViewerTest
