Repository uc-cdis/data-portal, pull requests merged in 2022-10, with the labels that each got.

#1108 Fix discovery page 'supportedValues' failures
  docs/portal_config.md
  src/Discovery/Discovery.tsx
  src/Discovery/index.tsx
Labels: test-portal-homepageTest

#1110 fix: auth calc
  src/Discovery/index.tsx
Labels: test-apis-etlTest, test-sheepdogAndPeregrine-submitFileTest

#1118 fix: skip empty tags in discovery page
  src/Discovery/aggMDSUtils.jsx
Labels: test-apis-centralizedAuth

#1119 Update node js and fix failing unit tests
  .travis.yml
  Dockerfile
  src/Submission/MapDataModel.jsx
  src/UserProfile/UserProfile.test.jsx
Labels: jenkins-niaid

#1127 HP-945 Feat/ga4
  data/getTexts.js
  dev.html
  package-lock.json
  package.json
  src/Analysis/AnalysisApp.jsx
  src/Submission/MapDataModel.jsx
  src/components/GoogleAnalytics.jsx
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/index.ejs
  src/index.jsx
  src/localconf.js
  src/nctIndex.jsx
  src/workspaceIndex.jsx
  webpack.config.js
Labels: test-apis-etlTest
