Repository uc-cdis/data-portal, pull requests merged in 2022-09, with the labels that each got.

#1086 Discovery page: fix "undefined tags" error
  src/Discovery/aggMDSUtils.jsx
Labels: test-portal-homepageTest

#1082 feat make custom diachotmous variables unique
  .eslintrc.js
  package-lock.json
  package.json
  src/Analysis/AnalysisApp.jsx
  src/Analysis/GWASWizard/GWASCaseControl.jsx
  src/Analysis/GWASWizard/GWASQuantitative.jsx
  src/Analysis/GWASWizard/shared/CustomDichotomousSelect.jsx
  src/Analysis/GWASWizard/shared/CustomDichotomousSelect.stories.jsx
  src/Analysis/GWASWizard/shared/GWASFormSubmit.jsx
  src/Analysis/GWASWizard/shared/WorkflowParameters.jsx
Labels: test-apis-drsEndpointsTest

#1090 fix null outcome concept_id in case control
  src/Analysis/GWASWizard/GWASCaseControl.jsx
  src/Analysis/GWASWizard/shared/GWASFormSubmit.jsx
Labels: test-apis-etlTest, test-pidgin-getCoremetadataTest

#1094 fix reactour changes
  src/Analysis/GWASWizard/GWASCaseControl.jsx
  src/Analysis/GWASWizard/GWASQuantitative.jsx
  src/Analysis/GWASWizard/shared/GWASFormSubmit.jsx
  src/Analysis/GWASWizard/shared/gwasSteps.js
Labels: test-apis-etlTest

#1093 fix cohort overlap warning
  src/Analysis/GWASWizard/CohortOverlap.jsx
Labels: test-apis-etlTest

#1067 Add Workspace Registration to Data-Portal
  docs/portal_config.md
  src/StudyRegistration/StudyRegistrationRequestForm.tsx
  src/StudyRegistration/utils.tsx
  src/Workspace/ErrorWorkspacePlaceholder.jsx
  src/Workspace/Workspace.less
  src/Workspace/index.jsx
  src/WorkspaceRegistration/WorkspaceRegistration.css
  src/WorkspaceRegistration/WorkspaceRegistration.tsx
  src/WorkspaceRegistration/index.tsx
  src/components/ErrorPage403.jsx
  src/ecosystemIndex.jsx
  src/index.jsx
  src/localconf.js
  src/utils.js
Labels: test-apis-drsEndpointsTest

#1100 fix quant next step bug, attirition table reactour
  src/Analysis/GWASWizard/GWASCaseControl.jsx
  src/Analysis/GWASWizard/GWASQuantitative.jsx
  src/Analysis/GWASWizard/shared/gwasSteps.js
Labels: test-apis-drsEndpointsTest, test-apis-etlTest

#1106 return local arborist if no externally connected commons
  src/actions.js
Labels: test-apis-etlTest
