Repository uc-cdis/data-portal, pull requests merged in 2022-04, with the labels that each got.

#982 Fix/dep
  .stylelintrc.js
  package-lock.json
  package.json
  src/Covid19Dashboard/ControlPanel/LayerSelector/LayerSelector.less
  src/Covid19Dashboard/MapSlider/mapSlider.less
  src/Covid19Dashboard/standalone/package.json
  src/Discovery/Discovery.css
  src/GuppyDataExplorer/ExplorerTable/index.jsx
Labels: test-portal-studyViewerTest

#984 pin npm to 8.5.5
  .travis.yml
  Dockerfile
Labels: test-portal-studyViewerTest

#988 PXP-9847 fix: array display
  src/Discovery/Discovery.tsx
Labels: test-portal-studyViewerTest, skip-quay-build

#983 Feat/disco tabs
  docs/portal_config.md
  src/Discovery/Discovery.css
  src/Discovery/Discovery.test.tsx
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryConfig.d.ts
  src/Discovery/DiscoveryDetails.tsx
  src/Discovery/DiscoveryListView.tsx
Labels: test-apis-etlTest, skip-quay-build
