Repository uc-cdis/data-portal, pull requests merged in 2022-05, with the labels that each got.

#990 Fix/basepath
  README.md
  boot.js
  dev.html
  docs/guide_running_portal_locally.md
  nginx.conf
  package-lock.json
  package.json
  runWebpack.sh
  src/Covid19Dashboard/standalone/package.json
  src/Discovery/Discovery.test.tsx
  src/Discovery/DiscoveryDetails.tsx
  src/Discovery/DiscoveryListView.tsx
  src/StudyViewer/StudyDetails.jsx
  src/StudyViewer/reduxer.js
  src/UserAgreement/ReduxCertPopup.js
  src/actions.js
  src/components/layout/Footer.jsx
  src/components/layout/FooterNIAID.jsx
  src/components/layout/NavBar.jsx
  src/localconf.js
  webpack.config.js
Labels: test-portal-studyViewerTest, skip-quay-build

#978 HP-708 Feat/multiple paymodels
  docs/portal_config.md
  src/Workspace/Workspace.less
  src/Workspace/index.jsx
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/index.jsx
  src/localconf.js
  src/workspaceIndex.jsx
Labels: test-portal-studyViewerTest, skip-quay-build

#991 (PXP-9835): feat/studyViewerIdpFlag: add flag to check for idp login type before allowing user to request access
  docs/study_viewer.md
  src/StudyViewer/StudyDetails.jsx
  src/StudyViewer/reduxer.js
Labels: test-portal-homepageTest, skip-quay-build

#997 Catch errors while querying total counts
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
Labels: skip-quay-build

#996 (PXP-9838): feat/studyViewerExternalDownload: add flag to specify field for external file download
  docs/study_viewer.md
  src/StudyViewer/StudyDetails.jsx
  src/StudyViewer/reduxer.js
Labels: test-apis-etlTest, skip-quay-build

#998 Fix/home link with ff
  src/components/layout/NavBar.jsx
Labels: test-portal-homepageTest
