Repository uc-cdis/data-portal, pull requests merged in 2023-03, with the labels that each got.

#1241 moved COVID-19 Community Analysis Tab to first
  src/Covid19Dashboard/index.jsx
Labels: test-portal-homepageTest

#1249 portal update for workspace registration
  src/Workspace/index.jsx
  src/WorkspaceRegistration/WorkspaceRegistration.tsx
  src/ecosystemIndex.jsx
  src/index.jsx
Labels: test-apis-centralizedAuth, test-apis-etlTest

#1250 HP-1063 Fix/popup
  src/CoreMetadata/CoreMetadataHeader.jsx
  src/CoreMetadata/reduxer.js
  src/Login/ProtectedContent.jsx
  src/UserAgreement/ReduxCertPopup.js
  src/actions.js
  src/components/Popup.less
Labels: test-apis-etlTest

#1252 PXP-10708 Use new coremetadata URL
  package-lock.json
  package.json
  src/CoreMetadata/reduxer.js
  src/localconf.js
Labels: test-apis-centralizedAuth, test-portal-dataUploadTest, test-apis-etlTest, test-apis-clientCredGrantTest

#1255 Fix PRC homepage class name
  src/CoreMetadata/reduxer.js
  src/Covid19Dashboard/Covid19Dashboard.less
  src/Covid19Dashboard/index.jsx
Labels: test-portal-homepageTest
