Repository uc-cdis/data-portal, pull requests merged in 2023-02, with the labels that each got.

#1220 Fix misleading `/auth/proxy` use
  src/actions.js
  testSchema.sh
Labels: test-apis-etlTest, jenkins-niaid

#1230 new created by img
  src/img/createdby.png
Labels: doc-only

#1092 (HP-897/HP-858/HP-1055): feat/vlmdSub: Initial implementation of VLMD submission page
  docs/portal_config.md
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryDetails.tsx
  src/Discovery/MDSUtils.jsx
  src/Discovery/aggMDSUtils.jsx
  src/StudyRegistration/DataDictionarySubmission.tsx
  src/StudyRegistration/ReduxDataDictionarySubmission.js
  src/StudyRegistration/StudyRegistration.css
  src/StudyRegistration/StudyRegistration.tsx
  src/StudyRegistration/StudyRegistrationRequestForm.tsx
  src/StudyRegistration/utils.tsx
  src/ecosystemIndex.jsx
  src/localconf.js
Labels: test-portal-indexingPageTest

#1234 fix: proper spinner for manifest count
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
Labels: test-apis-etlTest
