Repository uc-cdis/data-portal, pull requests merged in 2023-11, with the labels that each got.

#1444 Feat: allow teamProject to be configured in gitops.json instead of hard-coding in frontend code
  src/Analysis/AnalysisApp.jsx
  src/Analysis/SharedUtils/TeamProject/Utils/CheckForTeamProjectApplication.js
  src/Analysis/SharedUtils/TeamProject/Utils/CheckForTeamProjectApplication.test.js
  src/localconf.js
Labels: @requires-portal

#1448 fix: revert back the old GWAS app names
  src/Analysis/AnalysisApp.jsx
Labels: @requires-portal

#1447 Reload workspace options on paymodel change
  src/Workspace/index.jsx
Labels: test-portal-exportToWorkspaceTest

#1451 Feat/vadc sprint22
  docs/portal_config.md
  src/Analysis/Analysis.jsx
  src/Analysis/AnalysisApp.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Utils/StateManagement/InitialState.js
  src/Analysis/GWASApp/Utils/StateManagement/InitializeCurrentState.js
  src/Analysis/GWASResults/Views/Home/Home.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.css
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.stories.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.test.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.test.jsx
  src/Analysis/SharedUtils/TeamProject/Utils/CheckForTeamProjectApplication.js
  src/Analysis/SharedUtils/TeamProject/Utils/CheckForTeamProjectApplication.test.js
  src/Workspace/index.jsx
  src/localconf.js
Labels: @requires-portal

#1452 remove webform from NCT homepage
  src/Index/nctPage.jsx
Labels: test-portal-dataUploadTest

#1454 HP-1298 fix: system dua popup take over drawer
  src/Discovery/DiscoveryDetails/DiscoveryDetails.tsx
  src/Discovery/reduxer.js
Labels: @requires-portal

#1456 Feat/current team project validation
  src/Analysis/AnalysisApp.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/IsCurrentTeamProjectValid.js
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/IsCurrentTeamProjectValid.test.js
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.stories.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.test.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.stories.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.test.jsx
  src/Analysis/SharedUtils/TeamProject/TestData/TeamProjectTestData.js
Labels: @requires-portal
