Repository uc-cdis/data-portal, pull requests merged in 2023-08, with the labels that each got.

#1373 fix: Handle workspace page when no default paymodel exists
  src/Workspace/index.jsx
Labels: test-apis-etlTest

#1377 Feat/vadc sprint15
  src/Analysis/GWASResults/GWASResultsContainer.jsx
  src/Analysis/GWASResults/Utils/HideShowElementsCreatedByOuterAnalysisApp.js
  src/Analysis/GWASResults/Utils/useHideUnneededElements.js
  src/Analysis/GWASResults/Views/Home/HomeTable/tableDataProcessing/initialTableSort.js
  src/Analysis/GWASResults/Views/Home/HomeTable/tableDataProcessing/initialTableSort.test.js
Labels: @requires-portal

#1378 Fix: adjust subtractDates to deal with empty end date
  src/Analysis/GWASResults/Views/Execution/ExecutionTable/ExecutionTable.jsx
Labels: @requires-portal

#1374 Fix: Portal updates to match new hatchery changes
  src/Workspace/index.jsx
Labels: test-portal-dataUploadTest

#1366 update all minor version dependencies
  package-lock.json
  package.json
Labels: @requires-portal

#1369 PXP-11018: render some html tags in study descriptions
  src/StudyViewer/StudyDetails.jsx
Labels: test-portal-studyViewerTest

#1382 (PXP-11042): Discovery page update tooltip text
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryDetails.tsx
Labels: test-portal-indexingPageTest

#1380 PXP-11040: add more options to Discovery page isAuthorized check
  src/Discovery/index.tsx
Labels: @requires-portal

#1383 BRH-553
  src/Workspace/Workspace.less
  src/Workspace/index.jsx
Labels: @requires-portal

#1385 Vadc 651 expose error log fronend
  src/Analysis/GWASResults/Views/Execution/Execution.jsx
  src/Analysis/GWASResults/Views/Execution/Execution.stories.jsx
  src/Analysis/GWASResults/Views/Execution/Execution.test.jsx
Labels: test-portal-exportToWorkspaceTest

#1396 Fix discovery page pop-up spaces
  src/Discovery/Discovery.tsx
Labels: test-portal-exportToWorkspaceTest

#1395 feat(manhattanErrorMsg): Updated error msg string
  src/Analysis/GWASResults/Views/Results/Results.jsx
Labels: @requires-portal

#1397 feat(blockSubmissionGroupSizeZero): initial commit
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ConfigureGWAS.jsx
  src/Analysis/GWASApp/Utils/constants.js
Labels: @requires-portal

#1356 Fix/redirect bug
  src/Login/Login.jsx
Labels: jenkins-genomel, @requires-portal, test-portal-exportToWorkspaceTest

#1400 Fix Atlas URL on qa-mickey
  dev.html
Labels: @requires-portal
