Repository uc-cdis/data-portal, pull requests merged in 2023-09, with the labels that each got.

#1398 (PXP-7377): add banner to portal
  docs/portal_config.md
  src/Layout/reducers.js
  src/Layout/reduxer.js
  src/components/Banner.jsx
  src/components/layout/TopBar.jsx
  src/reducers.js
  src/reduxStore.js
Labels: @requires-portal

#1399 (HP-1194): Allow access to specific open data based on IdP
  src/Discovery/DiscoveryActionBar.tsx
  src/localconf.js
  webpack.config.js
Labels: test-portal-dataUploadTest

#1405 Feat/shared results gwas utils
  src/Analysis/GWASApp/Components/AttritionTableWrapper/AttritionTable/AttritionTableRow.jsx
  src/Analysis/GWASApp/Components/Congratulations/Congratulations.jsx
  src/Analysis/GWASApp/Components/Congratulations/Congratulations.test.jsx
  src/Analysis/GWASApp/Components/Covariates/Covariates.jsx
  src/Analysis/GWASApp/Components/Diagrams/CohortsOverlapDiagram/CohortsOverlapDiagram.jsx
  src/Analysis/GWASApp/Components/Diagrams/PhenotypeHistogram/PhenotypeHistogram.jsx
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.css
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.jsx
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.stories.jsx
  src/Analysis/GWASApp/Components/DismissibleMessagesList/DismissibleMessagesList.jsx
  src/Analysis/GWASApp/Components/DismissibleMessagesList/DismissibleMessagesList.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.jsx
  src/Analysis/GWASApp/Components/SelectCohort/Utils/CohortDefinitions.jsx
  src/Analysis/GWASApp/Components/SelectHare/SelectHareDropDown.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ConfigureGWAS.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ShowFinalPopulationSizeMessages.jsx
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
  src/Analysis/GWASApp/Utils/constants.js
  src/Analysis/GWASResults/Utils/gwasWorkflowApi.js
  src/Analysis/GWASResults/Views/Input/Input.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails/JobDetails.jsx
  src/Analysis/GWASResults/Views/Results/Results.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/QQPlotModal/QQPlotModal.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/ResultsPheWeb.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPng/ResultsPng.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.css
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.stories.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.test.jsx
  src/Analysis/SharedUtils/IsEnterOrSpace.js
  src/Analysis/SharedUtils/QueryConfig.js
Labels: @requires-portal

#1407 (PXP-11062): fix study viewer alphabetical ordering
  src/StudyViewer/StudyViewer.jsx
Labels: @requires-portal

#1411 Fix/next button enabled
  src/Analysis/GWASApp/Steps/SelectCovariates/SelectCovariates.jsx
Labels: @requires-portal

#1410 move ddUrl to portal config
  docs/portal_config.md
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/index.jsx
  src/localconf.js
  src/nctIndex.jsx
  src/workspaceIndex.jsx
  webpack.config.js
Labels: test-portal-dataUploadTest

#1402 PXP-11072 fix graphiql styling
  boot.js
  src/css/graphiql.css
  src/localconf.js
Labels: @requires-portal

#1413 Chore/vlmd wf name change
  src/StudyRegistration/DataDictionarySubmission.tsx
  src/localconf.js
Labels: @requires-portal

#1414 Feat/vadc sprint17
  dev.html
  src/Analysis/AnalysisApp.jsx
  src/Analysis/GWASApp/Components/AttritionTableWrapper/AttritionTable/AttritionTableRow.jsx
  src/Analysis/GWASApp/Components/Congratulations/Congratulations.jsx
  src/Analysis/GWASApp/Components/Congratulations/Congratulations.test.jsx
  src/Analysis/GWASApp/Components/Covariates/Covariates.jsx
  src/Analysis/GWASApp/Components/Diagrams/CohortsOverlapDiagram/CohortsOverlapDiagram.jsx
  src/Analysis/GWASApp/Components/Diagrams/PhenotypeHistogram/PhenotypeHistogram.jsx
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.css
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.jsx
  src/Analysis/GWASApp/Components/DismissibleMessage/DismissibleMessage.stories.jsx
  src/Analysis/GWASApp/Components/DismissibleMessagesList/DismissibleMessagesList.jsx
  src/Analysis/GWASApp/Components/DismissibleMessagesList/DismissibleMessagesList.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.jsx
  src/Analysis/GWASApp/Components/SelectCohort/Utils/CohortDefinitions.jsx
  src/Analysis/GWASApp/Components/SelectHare/SelectHareDropDown.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ConfigureGWAS.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ShowFinalPopulationSizeMessages.jsx
  src/Analysis/GWASApp/Steps/SelectCovariates/SelectCovariates.jsx
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
  src/Analysis/GWASApp/Utils/constants.js
  src/Analysis/GWASResults/Components/Diagrams/ManhattanPlot/ManhattanPlot.jsx
  src/Analysis/GWASResults/Components/Diagrams/QQPlot/QQPlot.jsx
  src/Analysis/GWASResults/Utils/gwasWorkflowApi.js
  src/Analysis/GWASResults/Views/Execution/Execution.jsx
  src/Analysis/GWASResults/Views/Home/Home.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Input/Input.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails/JobDetails.jsx
  src/Analysis/GWASResults/Views/Results/Results.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/QQPlotModal/QQPlotModal.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/ResultsPheWeb.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPng/ResultsPng.jsx
  src/Analysis/OHDSIAtlas/AtlasContainer.jsx
  src/Analysis/OHDSIAtlas/Components/SelectTeamProjectDropDown.jsx
  src/Analysis/OHDSIAtlas/Utils/teamProjectApi.js
  src/Analysis/OHDSIAtlas/Views/AtlasStarter.jsx
  src/Analysis/OHDSIAtlas/Views/AtlasStarter.stories.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.css
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.stories.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.test.jsx
  src/Analysis/SharedUtils/IsEnterOrSpace.js
  src/Analysis/SharedUtils/LoadingErrorMessage/LoadingErrorMessage.css
  src/Analysis/SharedUtils/LoadingErrorMessage/LoadingErrorMessage.jsx
  src/Analysis/SharedUtils/QueryConfig.js
Labels: @requires-portal

#1415 feat(storybookCommandUpdate): Updated storybook command
  package.json
Labels: @requires-portal

#1419 Chore/home table filter test
  src/Analysis/GWASResults/Views/Home/HomeTable/tableDataProcessing/filterTableData.test.js
Labels: @requires-portal

#1418 HP-1177 fix disco deatils page logic and styling
  src/Discovery/Discovery.css
  src/Discovery/DiscoveryDetails.tsx
Labels: @requires-portal

#1422 fix value is null
  src/Discovery/DiscoveryDetails.tsx
Labels: test-portal-studyViewerTest

#1423 Update nctIndex.jsx
  src/nctIndex.jsx
Labels: @requires-portal
