Repository uc-cdis/data-portal, pull requests merged in 2023-04, with the labels that each got.

#1271 fix: typo
  src/StudyRegistration/utils.tsx
Labels: test-apis-etlTest

#1270 Feat/paymodel UI improvements
  src/Covid19Dashboard/index.jsx
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
  src/Workspace/index.jsx
Labels: test-portal-homepageTest

#1281 Label PRs to run only relevant tests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: @requires-portal

#1262 Feat/non registrants form UI
  src/Discovery/DiscoveryDetails.tsx
  src/GenericAccessRequestForm/Constants/FormLayoutConstants.ts
  src/GenericAccessRequestForm/Constants/FormSpecificConstants.ts
  src/GenericAccessRequestForm/Constants/GenericFormInterfaces.ts
  src/GenericAccessRequestForm/FormSubmissionUI.tsx
  src/GenericAccessRequestForm/GenericAccessRequestForm.css
  src/GenericAccessRequestForm/GenericAccessRequestForm.tsx
  src/GenericAccessRequestForm/ReduxGenericAccessRequestForm.js
  src/GenericAccessRequestForm/handleRegisterFormSubmission.ts
  src/StudyRegistration/ReduxStudyRegistrationRequestForm.js
  src/StudyRegistration/StudyRegistrationRequestForm.tsx
  src/WorkspaceRegistration/WorkspaceRegistration.tsx
  src/WorkspaceRegistration/index.tsx
  src/ecosystemIndex.jsx
  src/index.jsx
Labels: test-portal-dataUploadTest, test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#1275 fix for adopting hdp uid as guid
  docs/portal_config.md
  src/Discovery/DiscoveryActionBar.tsx
  src/StudyRegistration/StudyRegistration.tsx
  src/localconf.js
Labels: test-portal-homepageTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest

#1290 Fix/submitted at home table
  src/Analysis/GWASResultsV2/TestData/TableData.js
  src/Analysis/GWASResultsV2/Views/Home/HomeTable/HomeTable.jsx
Labels: @requires-portal

#1285 [Snyk] Security upgrade stylelint from 14.16.1 to 15.0.0
  package-lock.json
  package.json
Labels: test-portal-coremetadatapageTest

#1292 Chore - Update Workspace Page
  package-lock.json
  package.json
  src/Workspace/index.jsx
Labels: @requires-portal

#1293 Revert "(PPS-212):add header to prevent clickjacking"
  nginx.conf
Labels: test-portal-coremetadatapageTest
