Repository uc-cdis/data-portal, pull requests merged in 2023-10, with the labels that each got.

#1426 Feat/vadc sprint19
  package.json
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ConfigureGWAS.jsx
  src/Analysis/GWASApp/Utils/StateManagement/InitialState.js
  src/Analysis/GWASApp/Utils/gwasWorkflowApi.js
  src/Analysis/GWASResults/Views/Home/HomeTable/tableDataProcessing/filterTableData.test.js
  src/Analysis/OHDSIAtlas/Utils/teamProjectApi.js
  src/Analysis/OHDSIAtlas/Views/AtlasStarter.jsx
  src/Analysis/SharedUtils/teamProjectApi.js
  src/Analysis/SharedUtils/teamProjectApi.test.js
Labels: @requires-portal

#1427 Fix/guppy crash
  package-lock.json
  package.json
  src/GuppyDataExplorer/ExplorerFilter/index.jsx
Labels: @requires-portal

#1421 (PXP-11107): fix loading of gitops.css locally
  .gitignore
  boot.js
  custom/customize.sh
  runWebpack.sh
Labels: @requires-portal

#1431 feat: remove atlas starter prototype
  src/Analysis/AnalysisApp.jsx
  src/Analysis/OHDSIAtlas/AtlasContainer.jsx
  src/Analysis/OHDSIAtlas/Components/SelectTeamProjectDropDown.jsx
  src/Analysis/OHDSIAtlas/Views/AtlasStarter.jsx
  src/Analysis/OHDSIAtlas/Views/AtlasStarter.stories.jsx
Labels: test-portal-indexingPageTest

#1428 Feat/results button disable
  src/Analysis/GWASResults/TestData/TableData.js
  src/Analysis/GWASResults/Views/Home/HomeTable/ActionsDropdown/ActionsDropdown.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/ActionsDropdown/ActionsDropdown.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.test.jsx
Labels: @requires-portal

#1432 extra configuration for DICOM Viewer
  docs/portal_config.md
  src/GuppyDataExplorer/ExplorerTable/index.jsx
  src/GuppyDataExplorer/ExplorerVisualization/index.jsx
Labels: @requires-portal

#1430 Feat/gwas app full screen
  src/Analysis/GWASApp/Components/MakeFullscreenButton/FullscreenClassNames.js
  src/Analysis/GWASApp/Components/MakeFullscreenButton/MakeFullscreenButton.css
  src/Analysis/GWASApp/Components/MakeFullscreenButton/MakeFullscreenButton.jsx
  src/Analysis/GWASApp/Components/MakeFullscreenButton/MakeFullscreenButton.stories.jsx
  src/Analysis/GWASApp/Components/MakeFullscreenButton/MakeFullscreenButton.test.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
Labels: @requires-portal

#1433 Fix dicom viewer/server url logic
  src/GuppyDataExplorer/ExplorerTable/index.jsx
Labels: @requires-portal

#1434 Fix/bugs
  runWebpack.sh
  src/Popup/SystemUseWarningPopup.jsx
Labels: @requires-portal

#1420 feat(dataDownloadList): Initial Commit
  src/Discovery/DiscoveryConfig.d.ts
  src/Discovery/DiscoveryDetails.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/DataDownloadList.css
  src/Discovery/DiscoveryDetails/DataDownloadList/DataDownloadList.test.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/DataDownloadList.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/Utils/DataDownloadListItem.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/Utils/ProcessData.test.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/Utils/ProcessData.ts
  src/Discovery/DiscoveryDetails/DiscoveryDetails.tsx
  src/Discovery/reduxer.js
Labels: @requires-portal

#1438 PXP-11139 Fix/ga csp
  webpack.config.js
Labels: @requires-portal

#1439 HP-1266 fix: system popup take precedence over discovery popup
  src/Discovery/DiscoveryActionBar.tsx
  src/Discovery/reduxer.js
Labels: test-portal-dataUploadTest, test-portal-coremetadatapageTest

#1441 (HP-1233): Generalize IdP-based access control
  src/Discovery/DiscoveryActionBar.tsx
Labels: test-portal-studyViewerTest
