Repository uc-cdis/data-portal, pull requests merged in 2023-05, with the labels that each got.

#1295 Feat: add message to spinner while loading the main table in Results app
  src/Analysis/GWASResultsV2/Views/Home/Home.jsx
  src/Analysis/GWASResultsV2/Views/Home/Home.stories.jsx
Labels: @requires-portal

#1294 Feat/results home table filtering
  package.json
  src/Analysis/GWASResultsV2/GWASResultsContainer.jsx
  src/Analysis/GWASResultsV2/Utils/InitialHomeTableState.js
  src/Analysis/GWASResultsV2/Utils/isIterable.js
  src/Analysis/GWASResultsV2/Views/Home/Home.jsx
  src/Analysis/GWASResultsV2/Views/Home/Home.stories.jsx
  src/Analysis/GWASResultsV2/Views/Home/Home.test.jsx
  src/Analysis/GWASResultsV2/Views/Home/HomeTable/HomeTable.css
  src/Analysis/GWASResultsV2/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResultsV2/Views/Home/HomeTable/HomeTable.test.jsx
  src/Analysis/GWASResultsV2/Views/Home/HomeTable/filterTableData.js
Labels: @requires-portal

#1297 Fix/request pending
  src/Discovery/Discovery.css
  src/Discovery/DiscoveryDetails.tsx
  src/GenericAccessRequestForm/Constants/FormSpecificConstants.ts
  src/GenericAccessRequestForm/handleRegisterFormSubmission.ts
Labels: @requires-portal

#1303 Feat/vadc sprint09
  package.json
  src/Analysis/GWASResults/GWASResultsContainer.jsx
  src/Analysis/GWASResults/Utils/InitialHomeTableState.js
  src/Analysis/GWASResults/Utils/isIterable.js
  src/Analysis/GWASResults/Views/Home/Home.jsx
  src/Analysis/GWASResults/Views/Home/Home.stories.jsx
  src/Analysis/GWASResults/Views/Home/Home.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.css
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/filterTableData.js
Labels: @requires-portal

#1301 feat(no-access): add no access message
  src/CoreMetadata/CoreMetadataHeader.jsx
Labels: test-portal-coremetadatapageTest

#1305 PXP-10908 Update file download page message
  src/CoreMetadata/CoreMetadataHeader.jsx
Labels: test-portal-coremetadatapageTest, skip-quay-build

#1304 Feat/home table column management menu
  src/Analysis/GWASResults/GWASResultsContainer.jsx
  src/Analysis/GWASResults/Utils/InitialHomeTableState.js
  src/Analysis/GWASResults/Views/Home/Home.jsx
  src/Analysis/GWASResults/Views/Home/Home.stories.jsx
  src/Analysis/GWASResults/Views/Home/Home.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTableState/DefaultColumnManagement.js
  src/Analysis/GWASResults/Views/Home/HomeTableState/DetermineInitialColumnManagement.js
  src/Analysis/GWASResults/Views/Home/HomeTableState/InitialHomeTableState.js
  src/Analysis/GWASResults/Views/Home/HomeTableState/UpdateColumnManagement.js
  src/Analysis/GWASResults/Views/Home/HomeTableState/localStorageAvailable.js
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumns.css
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumns.jsx
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumns.test.jsx
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumnsIcons/HolderIcon.jsx
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumnsIcons/ManageColumnsIcon.jsx
  src/Analysis/GWASResults/Views/Home/ManageColumns/ManageColumnsIcons/RestoreIcon.jsx
Labels: @requires-portal

#1168 [Snyk] Upgrade typescript from 4.7.4 to 4.9.3
  .storybook/public/mockServiceWorker.js
  package-lock.json
  package.json
Labels: test-portal-coremetadatapageTest

#1309 chore/updateGuppy: updating guppy to 0.16.0
  package-lock.json
  package.json
Labels: test-portal-dataUploadTest

#1312 [Snyk] Upgrade html-react-parser from 0.13.0 to 0.14.3
  package-lock.json
  package.json
Labels: @requires-portal

#981 (PXP-4615): feat/useNewGuppyCountField: use new guppy count field insted of calculating it
  src/GuppyDataExplorer/ExplorerHeatMap/index.jsx
Labels: test-sheepdogAndPeregrine-submitFileTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#1313 [Snyk] Upgrade @typescript-eslint/eslint-plugin from 5.55.0 to 5.59.2
  package-lock.json
  package.json
Labels: test-portal-coremetadatapageTest

#1298 fix: use fixed position for popup
  src/components/Popup.less
Labels: @requires-portal

#1306 Feat/input details view
  src/Analysis/GWASResults/GWASResultsContainer.css
  src/Analysis/GWASResults/GWASResultsContainer.jsx
  src/Analysis/GWASResults/SharedComponents/DetailPageHeader/DetailPageHeader.css
  src/Analysis/GWASResults/TestData/InputViewData/MockedFailureJSON.js
  src/Analysis/GWASResults/TestData/InputViewData/MockedSuccessJSON.js
  src/Analysis/GWASResults/Utils/IsJsonString.js
  src/Analysis/GWASResults/Utils/ViewsEnumeration.js
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Input/Input.css
  src/Analysis/GWASResults/Views/Input/Input.jsx
  src/Analysis/GWASResults/Views/Input/Input.stories.jsx
  src/Analysis/GWASResults/Views/Input/Input.test.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails.test.jsx
Labels: @requires-portal

#1319 Fix/directory name change fix
  src/Analysis/GWASResults/Views/Input/Input.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails.jsx
Labels: @requires-portal
