Repository uc-cdis/data-portal, pull requests merged in 2023-12, with the labels that each got.

#1462 Feat/data dictionary app placeholder
  src/Analysis/AnalysisApp.jsx
  src/Analysis/DataDictionary/DataDictionaryContainer.jsx
Labels: @requires-portal

#1465 feat(cohortMiddleWareEndpointUpdate): Initial commit
  src/Analysis/GWASApp/Components/Covariates/CustomDichotomousCovariates.jsx
  src/Analysis/GWASApp/Components/Covariates/CustomDichotomousCovariates.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohort.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohort.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/Utils/CohortDefinitions.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/SelectCovariates/SelectCovariates.jsx
  src/Analysis/GWASApp/Steps/SelectOutcome/SelectOutcome.jsx
  src/Analysis/GWASApp/Steps/SelectStudyPopulation/SelectStudyPopulation.jsx
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
Labels: @requires-portal

#1464 PPS-588 guppy csrf
  package-lock.json
  package.json
  src/GuppyDataExplorer/ExplorerFilter/index.jsx
  src/GuppyDataExplorer/GuppyDataExplorer.jsx
  src/actions.js
  src/configs.js
  webpack.config.js
Labels: test-portal-exportToWorkspaceTest

#1466 Feat/login
  docs/portal_config.md
  src/Login/Login.jsx
  src/localconf.js
Labels: @requires-portal

#1467 add additional typecheck to Discovery/renderAggregation
  src/Discovery/DiscoverySummary.tsx
Labels: @requires-portal

#1450 Feat/data download list actions
  src/Discovery/DiscoveryConfig.d.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/ActionButtons.css
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/ActionButtons.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/ActionsButtons.test.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadAllModal/DownloadAllModal.test.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadAllModal/DownloadAllModal.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadAllFiles/CheckDownloadStatus.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadAllFiles/CheckFederatedLoginStatus.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadAllFiles/Constants.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadAllFiles/DownloadAllFiles.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadJsonFile.test.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/DownloadJsonFile.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/HandleDownloadManifestClick.test.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/HandleDownloadManifestClick.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/ActionButtons/DownloadUtils/UseHandleRedirectToLoginClick.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/DataDownloadList.test.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/DataDownloadList.tsx
  src/Discovery/DiscoveryDetails/DataDownloadList/Interfaces/DataDownloadListItem.ts
  src/Discovery/DiscoveryDetails/DataDownloadList/Interfaces/DownloadStatus.ts
  src/Discovery/DiscoveryDetails/DiscoveryDetails.tsx
  src/Discovery/DiscoveryDetails/Utils/CheckHealLoginNeeded.ts
Labels: test-portal-homepageTest, test-portal-exportToWorkspaceTest
