Repository uc-cdis/data-portal, pull requests merged in 2023-01, with the labels that each got.

#1196 Fix/antd update
  package-lock.json
  package.json
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryActionBar.tsx
  src/Discovery/DiscoveryDetails.tsx
  src/StudyViewer/StudyDetails.jsx
  src/Submission/MapFiles.jsx
Labels: test-apis-etlTest

#1199 fix: update nginx conf
  nginx.conf
Labels: test-apis-clientCredGrantTest

#1205 Remove _unique_id from portal logic
  src/Discovery/aggMDSUtils.jsx
Labels: test-apis-requestorTest

#1208 PXP-10565/PPS-177 fix: exclude file nodes from chart with options
  data/dictionaryHelper.js
  data/getTexts.js
  docs/portal_config.md
  sanity-check.js
  src/Index/nctPage.jsx
  src/Index/page.jsx
  src/Index/reducers.js
  src/Index/utils.js
  src/localconf.js
Labels: test-apis-etlTest

#1173 Feat/countless manifest button
  docs/portal_config.md
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
  src/GuppyDataExplorer/configTypeDef.js
Labels: test-apis-etlTest
