Repository uc-cdis/data-portal, pull requests merged in 2023-06, with the labels that each got.

#1320 [Snyk] Upgrade recharts from 2.4.3 to 2.6.2
  package-lock.json
  package.json
Labels: @requires-portal

#1321 [Snyk] Upgrade viz.js from 2.0.0 to 2.1.2
  package-lock.json
  package.json
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest

#1327 File page: improve display of array values
  src/CoreMetadata/CoreMetadataTable.jsx
Labels: test-portal-coremetadatapageTest

#1329 Feat/attrition table input details
  src/Analysis/GWASResults/TestData/InputViewData/AttritionTableJSON.js
  src/Analysis/GWASResults/TestData/InputViewData/MockedSuccessJSON.js
  src/Analysis/GWASResults/Views/Home/HomeTable/ActionsDropdown/ActionsDropdown.test.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Input/AttritionTable/AttritionTable.css
  src/Analysis/GWASResults/Views/Input/AttritionTable/AttritionTable.test.jsx
  src/Analysis/GWASResults/Views/Input/AttritionTable/AttrtitionTable.jsx
  src/Analysis/GWASResults/Views/Input/Input.jsx
  src/Analysis/GWASResults/Views/Input/Input.stories.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails/JobDetails.jsx
  src/Analysis/GWASResults/Views/Input/JobDetails/JobDetails.test.jsx
Labels: @requires-portal

#1330 (HP-1157): fix bug where filters dont reset table to page one
  src/Discovery/Discovery.tsx
  src/Discovery/index.tsx
  src/Discovery/reducers.js
Labels: test-portal-studyViewerTest

#1323 [Snyk] Upgrade semver from 7.3.8 to 7.5.1
  package-lock.json
  package.json
Labels: @requires-portal

#1335 [Snyk] Upgrade antd from 4.24.8 to 4.24.10
  package-lock.json
  package.json
Labels: @requires-portal

#1333 (HP-1140): Fix Profile Page visual inconsistency
  src/UserProfile/ExternalLogins.less
Labels: @requires-portal

#1336 [Snyk] Upgrade brace from 0.10.0 to 0.11.1
  package-lock.json
  package.json
Labels: @requires-portal

#1334 [Snyk] Upgrade @babel/core from 7.21.8 to 7.22.1
  package-lock.json
  package.json
Labels: @requires-portal

#1338 [Snyk] Security upgrade css-loader from 3.6.0 to 4.0.0
  package-lock.json
  src/Covid19Dashboard/standalone/package.json
Labels: @requires-portal

#1341 fix(gwasAppButtonWidth): Updated CSS for progress bar buttons. Update…
  src/Analysis/GWASApp/Components/ProgressBar/ProgressBar.css
Labels: @requires-portal

#1344 add to requiredIdpField docs to better explain what is going on
  docs/study_viewer.md
Labels: doc-only, @requires-portal

#1337 TopFeat/results view top loci
  src/Analysis/GWASResults/TestData/ResultsViewData/TopLociTableData.js
  src/Analysis/GWASResults/Views/Results/Results.css
  src/Analysis/GWASResults/Views/Results/Results.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/ResultsPheWeb.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/TopLociTable/TopLociTable.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/TopLociTable/TopLociTable.test.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/TopLociTable/downloadTSVFromJSON.js
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/TopLociTable/filterLociTableData.js
  src/Analysis/GWASResults/Views/Results/ResultsPheWeb/TopLociTable/filterLociTableData.test.js
  src/Analysis/GWASResults/Views/Results/ResultsPng/ResultsPng.jsx
  src/Analysis/GWASResults/Views/Results/ResultsPng/ResultsPng.test.jsx
Labels: @requires-portal

#1342 [Snyk] Upgrade @typescript-eslint/parser from 5.59.7 to 5.59.8
  package-lock.json
  package.json
Labels: @requires-portal

#1347 BRH-486
  src/Workspace/index.jsx
Labels: @requires-portal

#1348 Feat/maintain selected row results app
  src/Analysis/GWASResults/Views/Home/Home.stories.jsx
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.css
  src/Analysis/GWASResults/Views/Home/HomeTable/HomeTable.jsx
  src/Analysis/GWASResults/Views/Input/AttritionTable/AttritionTable.css
  src/Analysis/GWASResults/Views/Results/Results.css
Labels: @requires-portal

#1349 Feat/results view header
  src/Analysis/GWASResults/Views/Results/Results.jsx
Labels: @requires-portal
