Repository uc-cdis/data-portal, pull requests merged in 2024-01, with the labels that each got.

#1468 MIDRC-550 Replace nested empty values with 'null' in explorer display
  src/GuppyDataExplorer/ExplorerTable/index.jsx
  src/Workspace/index.jsx
Labels: test-portal-dataUploadTest

#1472 Feat/vadc sprint25
  src/Analysis/GWASApp/Components/Covariates/CustomDichotomousCovariates.jsx
  src/Analysis/GWASApp/Components/Covariates/CustomDichotomousCovariates.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohort.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohort.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.jsx
  src/Analysis/GWASApp/Components/SelectCohort/SelectCohortDropDown.stories.jsx
  src/Analysis/GWASApp/Components/SelectCohort/Utils/CohortDefinitions.jsx
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/GWASApp/Steps/SelectCovariates/SelectCovariates.jsx
  src/Analysis/GWASApp/Steps/SelectOutcome/SelectOutcome.jsx
  src/Analysis/GWASApp/Steps/SelectStudyPopulation/SelectStudyPopulation.jsx
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
Labels: @requires-portal

#1469 (PXP-11233): add ability to hide login link in navigation
  docs/portal_config.md
  src/components/layout/TopBar.jsx
  src/localconf.js
Labels: test-portal-studyViewerTest

#1475 Change mailto link to explicit email address
  src/Index/nctPage.jsx
Labels: @requires-portal

#1471 Feat/vadc data dictionary table
  package-lock.json
  package.json
  src/Analysis/AnalysisApp.jsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionary.css
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.stories.tsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.test.tsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/ColumnHeaders.test.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/ColumnHeaders.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/Header.test.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/Header.tsx
  src/Analysis/AtlasDataDictionary/EntriesHeader/EntriesHeader.test.tsx
  src/Analysis/AtlasDataDictionary/EntriesHeader/EntriesHeader.tsx
  src/Analysis/AtlasDataDictionary/Icons/CaretDown.tsx
  src/Analysis/AtlasDataDictionary/Icons/CaretUp.tsx
  src/Analysis/AtlasDataDictionary/Icons/CollapseIcon.tsx
  src/Analysis/AtlasDataDictionary/Icons/ExpandIcon.tsx
  src/Analysis/AtlasDataDictionary/Icons/SearchIcon.jsx
  src/Analysis/AtlasDataDictionary/Interfaces/Interfaces.ts
  src/Analysis/AtlasDataDictionary/PaginationControls/PaginationControls.test.tsx
  src/Analysis/AtlasDataDictionary/PaginationControls/PaginationControls.tsx
  src/Analysis/AtlasDataDictionary/SearchBar/SearchBar.test.tsx
  src/Analysis/AtlasDataDictionary/SearchBar/SearchBar.tsx
  src/Analysis/AtlasDataDictionary/TableRow/CheckSearchTermUtils.test.ts
  src/Analysis/AtlasDataDictionary/TableRow/CheckSearchTermUtils.ts
  src/Analysis/AtlasDataDictionary/TableRow/NonNumericDetails/NonNumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NonNumericDetails/NonNumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NumericDetails/NumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NumericDetails/NumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/TableRow/PreviewChart/PreviewChart.tsx
  src/Analysis/AtlasDataDictionary/TableRow/TableRow.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/TableRow.tsx
  src/Analysis/AtlasDataDictionary/TestData/GenerateTableData.js
  src/Analysis/AtlasDataDictionary/TestData/TableData.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.test.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.ts
  src/Analysis/DataDictionary/DataDictionaryContainer.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.css
Labels: @requires-portal

#1479 Update index.ejs for roboto font italic
  src/index.ejs
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest

#1480 Query the study viewer 'order by' field
  docs/study_viewer.md
  src/StudyViewer/reduxer.js
Labels: test-portal-studyViewerTest

#1481 update guppy
  package-lock.json
  package.json
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest

#1455 PXP-11183 feat dd filter bot on intake
  package-lock.json
  package.json
  src/ecosystemIndex.jsx
  src/index.jsx
  src/localconf.js
  src/localconf.test.js
  src/nctIndex.jsx
  src/setupJest.js
  src/workspaceIndex.jsx
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest

#1483 feat/vadc_sprint01
  package-lock.json
  package.json
  src/Analysis/AnalysisApp.jsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionary.css
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.stories.tsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.test.tsx
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/ColumnHeaders.test.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/ColumnHeaders.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/Header.test.tsx
  src/Analysis/AtlasDataDictionary/ColumnHeaders/Header.tsx
  src/Analysis/AtlasDataDictionary/EntriesHeader/EntriesHeader.test.tsx
  src/Analysis/AtlasDataDictionary/EntriesHeader/EntriesHeader.tsx
  src/Analysis/AtlasDataDictionary/Icons/CaretDown.tsx
  src/Analysis/AtlasDataDictionary/Icons/CaretUp.tsx
  src/Analysis/AtlasDataDictionary/Icons/CollapseIcon.tsx
  src/Analysis/AtlasDataDictionary/Icons/ExpandIcon.tsx
  src/Analysis/AtlasDataDictionary/Icons/SearchIcon.jsx
  src/Analysis/AtlasDataDictionary/Interfaces/Interfaces.ts
  src/Analysis/AtlasDataDictionary/PaginationControls/PaginationControls.test.tsx
  src/Analysis/AtlasDataDictionary/PaginationControls/PaginationControls.tsx
  src/Analysis/AtlasDataDictionary/SearchBar/SearchBar.test.tsx
  src/Analysis/AtlasDataDictionary/SearchBar/SearchBar.tsx
  src/Analysis/AtlasDataDictionary/TableRow/CheckSearchTermUtils.test.ts
  src/Analysis/AtlasDataDictionary/TableRow/CheckSearchTermUtils.ts
  src/Analysis/AtlasDataDictionary/TableRow/NonNumericDetails/NonNumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NonNumericDetails/NonNumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NumericDetails/NumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/NumericDetails/NumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/TableRow/PreviewChart/PreviewChart.tsx
  src/Analysis/AtlasDataDictionary/TableRow/TableRow.test.tsx
  src/Analysis/AtlasDataDictionary/TableRow/TableRow.tsx
  src/Analysis/AtlasDataDictionary/TestData/GenerateTableData.js
  src/Analysis/AtlasDataDictionary/TestData/TableData.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.test.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.ts
  src/Analysis/DataDictionary/DataDictionaryContainer.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.css
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest
