Repository uc-cdis/data-portal, pull requests merged in 2024-10, with the labels that each got.

#1571 Update StudyRegistration.tsx
  src/StudyRegistration/StudyRegistration.tsx
Labels: @requires-portal

#1604 HP-1724 Feat/mixed avail icons
  docs/portal_config.md
  src/Discovery/Discovery.test.tsx
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryDataAvailabilityTooltips.tsx
  src/Discovery/DiscoveryDetails/Components/AccessDescriptor/AccessDescriptor.tsx
  src/Discovery/DiscoveryDetails/Components/FieldGrouping/TabField/TabField.tsx
  src/Discovery/DiscoveryDetails/Components/NonTabbedDiscoveryDetails/NonTabbedDiscoveryDetails.tsx
  src/Discovery/DiscoveryListView.tsx
  src/Discovery/index.tsx
  src/Discovery/reducers.js
Labels: TestDiscoveryPage

#1602 (VADC-1441 VADC-1438 VADC-1433 VADC-1431): ada changes for VA
  src/Popup/ReduxAuthTimeoutPopup.jsx
  src/components/ErrorPage403.jsx
  src/components/NotFound.jsx
  src/components/Popup.jsx
  src/components/layout/TopBar.jsx
  src/components/layout/TopBar.less
  src/components/layout/TopIconButton.jsx
  src/components/layout/TopIconButton.less
  src/components/tables/KeyTable.jsx
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/img/not-found.svg
  src/index.jsx
  src/nctIndex.jsx
  src/workspaceIndex.jsx
Labels: TestRequestor

#1609 Update testSchema.sh
  testSchema.sh
Labels: doc-only

#1608 fix(downloadVLMDButtonReset): Initial commit
  src/Discovery/DiscoveryDetails/Components/FieldGrouping/TabField/DataDownloadList/ActionButtons/ActionButtons.tsx
Labels: test-portal-pfbExportTest

#1614 fix(vaLogoAltText): initial commit
  docs/portal_config.md
  src/localconf.js
Labels: test-portal-discoveryPageTest, TestDiscoveryPage

#1618 VADC-1479: Updated Previous/Next buttons' colors for VA GWAS according to 508
  src/Analysis/GWASApp/GWASContainer.jsx
  src/Analysis/SharedUtils/AccessibilityUtils/Accessibility.css
Labels: TestPFBExport
