Repository uc-cdis/data-portal, pull requests merged in 2024-03, with the labels that each got.

#1490 feat(addTypeCheckToDataSource): ran linter
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
Labels: @requires-portal

#1494 HP-1402 fix incorrectly flattening array
  src/Discovery/DiscoveryDetails/DiscoveryDetails.tsx
Labels: test-portal-exportToWorkspaceTest

#1495 Update StudyRegistration.tsx
  src/StudyRegistration/StudyRegistration.tsx
Labels: @requires-portal

#1496 fix array handling
  src/Discovery/DiscoveryDetails/DiscoveryDetails.tsx
Labels: test-portal-dataUploadTest

#1503 Add openICPSR to repo selection list
  src/StudyRegistration/StudyRegistration.tsx
Labels: @requires-portal

#1504 Bug Fix: Clear button now clears all tags chosen in the repository selector in data-portal
  src/Discovery/DiscoveryDropdownTagViewer.tsx
Labels: @requires-portal

#1499 HP-1381 past url for hostname in aggwts
  src/Discovery/index.tsx
Labels: @requires-portal

#1505 fix(updateTooltipsStudyPageButtons): Removed conditional popover comp…
  src/Discovery/DiscoveryDetails/Components/FieldGrouping/TabField/DataDownloadList/ActionButtons/ActionButtons.tsx
  src/Discovery/DiscoveryDetails/Components/FieldGrouping/TabField/DataDownloadList/ActionButtons/ActionsButtons.test.tsx
Labels: @requires-portal

#1509 Feat/vadc sprint05
  src/Analysis/AtlasDataDictionary/AtlasDataDictionary.css
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryButton/AtlasDataDictionaryButton.css
  src/Analysis/AtlasDataDictionary/AtlasDataDictionaryContainer.tsx
  src/Analysis/AtlasDataDictionary/Components/ColumnHeaders/ColumnHeaders.test.tsx
  src/Analysis/AtlasDataDictionary/Components/ColumnHeaders/ColumnHeaders.tsx
  src/Analysis/AtlasDataDictionary/Components/ColumnHeaders/Header.test.tsx
  src/Analysis/AtlasDataDictionary/Components/ColumnHeaders/Header.tsx
  src/Analysis/AtlasDataDictionary/Components/EntriesHeader/EntriesHeader.test.tsx
  src/Analysis/AtlasDataDictionary/Components/EntriesHeader/EntriesHeader.tsx
  src/Analysis/AtlasDataDictionary/Components/Icons/CaretDown.tsx
  src/Analysis/AtlasDataDictionary/Components/Icons/CaretUp.tsx
  src/Analysis/AtlasDataDictionary/Components/Icons/CollapseIcon.tsx
  src/Analysis/AtlasDataDictionary/Components/Icons/ExpandIcon.tsx
  src/Analysis/AtlasDataDictionary/Components/Icons/SearchIcon.jsx
  src/Analysis/AtlasDataDictionary/Components/PaginationControls/PaginationControls.test.tsx
  src/Analysis/AtlasDataDictionary/Components/PaginationControls/PaginationControls.tsx
  src/Analysis/AtlasDataDictionary/Components/SearchBar/SearchBar.test.tsx
  src/Analysis/AtlasDataDictionary/Components/SearchBar/SearchBar.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/CheckSearchTermUtils.test.ts
  src/Analysis/AtlasDataDictionary/Components/TableRow/CheckSearchTermUtils.ts
  src/Analysis/AtlasDataDictionary/Components/TableRow/NonNumericDetailsTable/NonNumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/NonNumericDetailsTable/NonNumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/NumericDetailsTable/NumericDetailsTable.test.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/NumericDetailsTable/NumericDetailsTable.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/TableRow.test.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/TableRow.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/TableRowDropdown/TableRowDropdown.stories.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/TableRowDropdown/TableRowDropdown.test.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/TableRowDropdown/TableRowDropdown.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/ValueSummaryChart/ValueSummaryChart.test.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/ValueSummaryChart/ValueSummaryChart.tsx
  src/Analysis/AtlasDataDictionary/Components/TableRow/ValueSummaryChart/ValueSummaryChartConstants.ts
  src/Analysis/AtlasDataDictionary/EntriesHeader/EntriesHeader.tsx
  src/Analysis/AtlasDataDictionary/Interfaces/Interfaces.ts
  src/Analysis/AtlasDataDictionary/PaginationControls/PaginationControls.tsx
  src/Analysis/AtlasDataDictionary/Utils/InitialDataDictionaryTableState.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.test.ts
  src/Analysis/AtlasDataDictionary/Utils/PreprocessTableData.ts
  src/Analysis/AtlasDataDictionary/Utils/SortUtils.test.ts
  src/Analysis/AtlasDataDictionary/Utils/SortUtils.ts
Labels: test-portal-dataUploadTest

#1502 feat(styleGlobalBanner): Initial commit
  src/components/Banner.jsx
  src/components/Banner.less
Labels: @requires-portal

#1507 HP-1416 Feat/disco details subheading
  docs/portal_config.md
  src/Discovery/Discovery.css
  src/Discovery/Discovery.test.tsx
  src/Discovery/DiscoveryConfig.d.ts
  src/Discovery/DiscoveryDetails/Components/StudyHeader.tsx
  src/Discovery/__mocks__/mock_config.json
Labels: @requires-portal

#1508 (MIDRC-666): add guppy defaultFilter functionality
  docs/multi_tab_explorer.md
  docs/portal_config.md
  src/GuppyDataExplorer/GuppyDataExplorer.jsx
  src/GuppyDataExplorer/configTypeDef.js
Labels: @requires-portal
