Repository uc-cdis/data-portal, pull requests merged in 2024-11, with the labels that each got.

#1628 Feat/vadc sprint21
  docs/portal_config.md
  src/Analysis/Analysis.jsx
  src/Analysis/AppCard.jsx
  src/Analysis/GWASApp/Components/JobInputModal/JobInputModal.jsx
  src/Analysis/GWASApp/Steps/ConfigureGWAS/ConfigureGWAS.jsx
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/Accessibility.css
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/AccessibilityGWAS.css
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/AccessibilityTeams.css
  src/Analysis/SharedUtils/AccessibilityUtils/IsEnterOrSpace.js
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.jsx
  src/Analysis/SharedUtils/DismissibleMessage/DismissibleMessage.test.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.css
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamsDropdown/TeamsDropdown.css
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamsDropdown/TeamsDropdown.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamsDropdown/TeamsDropdown.test.jsx
  src/Discovery/DiscoveryLoadingProgressBar/DiscoveryLoadingProgress.css
  src/localconf.js
Labels: TestDataUpload, TestIndexingPage

#1626 VADC-1482: Updated buttons' colors in Eurler diagram according to 508
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/AccessibilityGWAS.css
Labels: TestPFBExport

#1632 fix discovery batch loading
  src/Discovery/index.tsx
Labels: test-portal-indexingPageTest

#1551 new changes for B3 WALDER project to make changes for discovery porta…
  docs/portal_config.md
  src/Discovery/DiscoveryActionBar/DiscoveryActionBar.tsx
  src/Discovery/DiscoveryActionBar/components/OpenFillRequestFormButton.tsx
  src/Discovery/DiscoveryConfig.d.ts
  src/Discovery/DiscoveryListView.tsx
Labels: @requires-portal

#1633 Update team project filter
  src/Analysis/SharedUtils/TeamProject/Utils/teamProjectApi.js
  src/Analysis/SharedUtils/TeamProject/Utils/teamProjectApi.test.js
Labels: TestLoginPage

#1617 (VADC-1444): add please login to access text to login page
  src/Login/Login.jsx
Labels: TestPFBExport, TestDataUpload, TestGraphSubmitAndQuery

#1616 (VADC-1439): add link to access denied page
  src/components/AccessDenied.jsx
  src/components/AccessDenied.less
Labels: @requires-portal, TestPFBExport

#1635 VADC-1544: Refactor CSS to be more generic
  src/Analysis/Analysis.jsx
  src/Analysis/AnalysisApp.jsx
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/Accessibility.css
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/AccessibilityGWAS.css
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityCSS/AccessibilityTeams.css
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/Accessibility.less
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/AccessibilityGWAS.less
Labels: TestPFBExport

#1638 Fix/vadc 1417
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.css
Labels: test-portal-homepageTest

#1640 VADC-1472: Change Back to Apps link color according to 508 guidelines
  package.json
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/Accessibility.less
Labels: TestHomePage

#1648 VADC-1486: Fix selected phenotypes/covariates colors according to 508 guidelines
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/Accessibility.less
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/AccessibilityGWAS.less
  src/Analysis/SharedUtils/AccessibilityUtils/AccessibilityStyles/AccessibilityTeams.less
Labels: TestPFBExport
