Repository uc-cdis/data-portal, pull requests merged in 2025-04, with the labels that each got.

#1687 add a default blank icon for nav bar
  src/components/Icon.jsx
  src/img/icons/blank.svg
  src/img/icons/index.jsx
Labels: TestPFBExport

#1683 Fix "Switch to Graph/Flat model" button
  docs/portal_config.md
  src/GraphQLEditor/GqlEditor.jsx
Labels: TestRasAuthN, TestPFBExport

#1692 Add specific class to each login button
  src/Login/Login.jsx
Labels: TestDiscoveryPage, TestPFBExport

#1690 Feat/disable buttons when notebook access
  src/Discovery/Discovery.tsx
  src/Discovery/DiscoveryActionBar/components/DownloadManifestButton.tsx
  src/Discovery/DiscoveryActionBar/components/DownloadZipButton.tsx
  src/Discovery/DiscoveryDetails/Components/FieldGrouping/TabField/DataDownloadList/ActionButtons/ActionButtons.tsx
  src/Discovery/Utils/isManifestDataMissing.ts
Labels: TestDiscoveryPage, TestRasAuthN
