Repository uc-cdis/data-portal, pull requests merged in 2025-02, with the labels that each got.

#1668 Feat/vadc sprint24
  src/Analysis/SharedUtils/TeamProject/TeamProjectHeader/TeamProjectHeader.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.jsx
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.test.jsx
Labels: TestDiscoveryPage

#1669 (VADC-1639): fix logout not sowing on home page
  src/Login/ProtectedContent.jsx
  src/Popup/ReduxAuthTimeoutPopup.jsx
  src/SessionMonitor/SessionMonitor.test.js
  src/SessionMonitor/index.js
  src/Workspace/ErrorWorkspacePlaceholder.jsx
  src/actions.js
  src/components/Popup.jsx
  src/covid19Index.jsx
  src/ecosystemIndex.jsx
  src/index.jsx
  src/nctIndex.jsx
  src/workspaceIndex.jsx
Labels: TestRasAuthN

#1666 Feat: add transformation dropdown to histogram
  src/Analysis/GWASApp/Components/AttritionTableWrapper/AttritionTable/AttritionTable.stories.jsx
  src/Analysis/GWASApp/Components/AttritionTableWrapper/AttritionTableModal/AttritionTableModal.jsx
  src/Analysis/GWASApp/Components/AttritionTableWrapper/AttritionTableWrapper.stories.jsx
  src/Analysis/GWASApp/Components/AttritionTableWrapper/ChartIcons/BarChart.jsx
  src/Analysis/GWASApp/Components/Covariates/ContinuousCovariates.jsx
  src/Analysis/GWASApp/Components/Covariates/ContinuousCovariates.stories.jsx
  src/Analysis/GWASApp/Components/Covariates/Covariates.css
  src/Analysis/GWASApp/Components/Diagrams/PhenotypeHistogram/PhenotypeHistogram.css
  src/Analysis/GWASApp/Components/Diagrams/PhenotypeHistogram/PhenotypeHistogram.jsx
  src/Analysis/GWASApp/Components/Diagrams/PhenotypeHistogram/PhenotypeHistogram.stories.jsx
  src/Analysis/GWASApp/Utils/cohortMiddlewareApi.js
  src/Analysis/SharedUtils/DataViz/Histogram/Histogram.jsx
  src/Analysis/SharedUtils/DataViz/Histogram/Histogram.stories.jsx
  src/Analysis/SharedUtils/FiltersEnumeration.js
Labels: TestDiscoveryPage, TestRasAuthN

#1670 MIDRC-921: disable "download manifest" for more terms than the ES limit
  src/GuppyDataExplorer/ExplorerButtonGroup/index.jsx
Labels: TestRasAuthN

#1675 Update TeamProjectModal.jsx - update VADC email
  src/Analysis/SharedUtils/TeamProject/TeamProjectModal/TeamProjectModal.jsx
Labels: doc-only

#1673 Update docs links to point to new MkDocs documentation
  data/config/dcf.json
  data/config/default.json
  docs/portal_config.md
  src/Discovery/DiscoveryActionBar/components/DownloadManifestButton.tsx
  src/Discovery/DiscoveryActionBar/components/ExportToWorkspaceButton.tsx
  src/Discovery/__mocks__/mock_config.json
  src/Submission/SubmissionHeader.jsx
Labels: doc-only, TestHomePage

#1677 fix use fractional height value
  src/components/layout/ExternalFooter.tsx
Labels: TestAuditService
